.icon-48-aircraftdeals {
      background-image: url(../images/l_aircraftdeals.png);
      padding-left:60px!important;
}

.icon-48-deals {
      background-image: url(../images/l_aircraftdeals.png);
      padding-left:60px!important;
}

