.icon-48-programmes {
      background-image: url(../images/l_programmes.png);
      padding-left:60px!important;
}

.icon-48-programme {
      background-image: url(../images/l_programmes.png);
      padding-left:60px!important;
}

