.icon-48-downloads {
      background-image: url(../images/l_downloads.png);
      padding-left:60px!important;
}

.icon-48-files {
      background-image: url(../images/l_downloads.png);
      padding-left:60px!important;
}

