.icon-48-booths {
      background-image: url(../images/l_booths.png);
      padding-left:60px!important;
}

.icon-48-booth {
      background-image: url(../images/l_booths.png);
      padding-left:60px!important;
}

