.icon-48-employees {
      background-image: url(../images/l_employees.png);
      padding-left:60px!important;
}

.icon-48-employee {
      background-image: url(../images/l_employees.png);
      padding-left:60px!important;
}

