.icon-48-portfolio {
      background-image: url(../images/l_portfolio.png);
      padding-left:60px!important;
}

.icon-48-editarportfolio {
      background-image: url(../images/l_portfolio.png);
      padding-left:60px!important;
}

