.icon-48-enginedata {
      background-image: url(../images/l_enginedata.png);
      padding-left:60px!important;
}

.icon-48- {
      background-image: url(../images/l_enginedata.png);
      padding-left:60px!important;
}

