.icon-48-speakers {
      background-image: url(../images/l_speakers.png);
      padding-left:60px!important;
}

.icon-48-speaker {
      background-image: url(../images/l_speakers.png);
      padding-left:60px!important;
}

