.icon-48-firmorders {
      background-image: url(../images/l_firmorders.png);
      padding-left:60px!important;
}

.icon-48-firmorder {
      background-image: url(../images/l_firmorders.png);
      padding-left:60px!important;
}

