.icon-48-clientss {
      background-image: url(../images/l_clientss.png);
      padding-left:60px!important;
}

.icon-48-clients {
      background-image: url(../images/l_clientss.png);
      padding-left:60px!important;
}

